@media (max-width: 800px) {
    header {
        .header-content {
            .header-title {
                @include fontSize(62);
            }
        }

        .header-top {
            .menu {
                background: $secondaryColour;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                left: 0;
                right: 0;
                top: -470px;
                padding-bottom: 5rem;

                &-toggle {
                    top: 0;
                }
                
                &-open {
                    display: inline;
                }

                &-close {
                    display: inline;
                    align-self: flex-end;
                    position: relative;
                    top: 25px;
                    right: 5%;
                }

                &-list {
                    background: $secondaryColour;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                }

                &-item {
                    margin: 0.6rem;
                }

                &-link {
                    @include fontSize(45);
                }
            }
        }
    }
    
    .new-arrivals {
        &-image {
            width: 60%;
        }
    }

    .featured-items {
        padding-bottom: 0;

        .flex-container { 
            flex-direction: column;
            align-items: center;
            margin: 0 ;
        }
        
        .item {
            min-width: 80%;
            align-items: flex-end;
            margin-bottom: 100px;

            .image-container {
                @include itemImageSize(450);
            }

            &-1,
            &-2,
            &-3 {
                display: flex;
                justify-content: center;
            }

            &-2 { 
                order: -1;
            }
            
            &-info {
                width: 240px;
                text-align: center;
                padding: 30px 50px;
                position: absolute;
                top: auto;
                bottom: -35px;
                left: auto;
                right: auto;
            }
        }
    }


    .blog {
        &-post.flex-container {
            width: 100%;
            margin-bottom: 25px;
        }
        
        &-nav {
            text-align: center;

            &-previous,
            &-next {
                position: static;
            }
        }
    }

    .contact {
        &-form {
            width: 100%;

            &-input {
                margin: 10px;
                width: calc(100%);
            }
            
            &-button {
                @include fontSize(25);
                width: 75%;
                padding: 20px 40px;
                margin: 20px;
            }
        }
    }
}
